<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/gr.ilsp.ilsp-fc-2.2.1/src/main/java/gr/ilsp/fc/main/SimpleCrawlHFS.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="C:\tmp\ilsp-fc.log"/>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="gr.ilsp.fc.main.SimpleCrawlHFS"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="crawlandexport -f -a citzincrawl -type p -l1 en -l2 ga -u ${project_loc}/src/main/resources/seed_examples.txt  -dest &quot;c://tmp/crawl_results/&quot; -k -n 4 -xslt -oxslt -of &quot;c://tmp/crawl_results/output_demo_EN-GA.txt&quot; -ofh &quot;c://tmp/crawl_results/output_demo_EN-GA.txt.html&quot; -oft &quot;c://tmp/crawl_results/output_demo_EN-GA_tmx.txt&quot; -ofth &quot;c://tmp/crawl_results/output_demo_EN-GA_tmx.html&quot; -align maligna"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="gr.ilsp.ilsp-fc-2.2.1"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
</launchConfiguration>
