<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ilsp-fc/src/main/java/gr/ilsp/fmc/main/SimpleCrawlHFS.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="C:\\QTLaunchPad\\test\\log_test.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="gr.ilsp.fmc.main.SimpleCrawlHFS"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="crawlandexport -a test -n 2 -f -k -l1 en -l2 fr -t 50 -of output_test_en-fr.txt -ofh  output_test_en-fr.txt.html -oft output_test_en-fr.tmx.txt -ofth output_test_en-fr.tmx.html -u  &quot;C:\\Users\\vpapa\\QTLP\\test\\en-fr_seeds.txt&quot; -type p -xslt  -oxslt -len 0 -mtlen 10 -filter &quot;.*(nrcan.gc.ca|rncan.gc.ca).*&quot; -dest &quot;C:\Users\vpapa\workspace\ilsp-fc&quot; -p_r &quot;http://vpapa.ilsp.gr//test//&quot; -align -dict"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ilsp-fc"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
</launchConfiguration>
